@charset "EUC-KR";

html, body {
	border-left: solid 1px #ddd;
	border-right: solid 1px #ddd;
	margin: 0 auto;
	width: 500px;
	height: 100%;
	overflow: hidden;
}

.logo {
	display: block;
	margin: auto;
	width: 100px;
	height: 100px;
 	position: relative;
	top: 30px;
}

.boxs {
	margin: 40px 0 20px 0;
}

.box1 {
	margin-bottom: 30px;
}

.box2 {
	
}

h4 {
	margin: 10px 20px;
	display: inline-block;
	text-align: left;
}

.text1 {
	width: 450px;
	height: 200px;
 	border: solid 2px;
	color: #e9e9e9;
	box-shadow: 0px 0px 10px #e9e9e9;
	margin:0 20px 0 20px; 
}

.text2 {
	width: 450px;
	height: 200px;
 	border: solid 2px;
	color: #e9e9e9;
	box-shadow: 0px 0px 10px #e9e9e9;
	margin:0 20px 0 20px; 
}

.check1, .check2 {
	margin-left: 25px;
}

.okBtn {
	border: none;
	display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    text-decoration: none;
    font-weight: 600;
    margin: 30px 164px;
}
.btnCheck {
	background-color : #C4D89D;
}


footer {
	background-color : white;
	position: fixed;
	bottom: 0;
	height: 70px;
	width: 500px;
}

footer img {
	width: 50px;
	margin: 0px 0px 0px 10px;
}