@charset "EUC-KR";
html, body {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #ddd;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ddd;
	margin: 0 auto;
	width: 500px;
	height: 100%;
	overflow: hidden;
}
hr {
	border-width : 1px 0px 0px 0px; 
	border-style : solid;
	border-color: lightgrey;
	height : 1px;
}

/* 상단 */
.title {
	float : right;
	margin : 15px 210px 0px 0px;
	color : black;
}
.top {
	position: fixed;
	top: 0;
	height: 50px;
	width: 500px;
	background-color: white;
	border-bottom : 1px solid lightgrey;
}

#arrow {
	float: left;
	width: 25px;
	height: 20px;
	margin: 18px 0px 10px 15px;
}

/* 약품 주의사항 내용 */
.pill_caution {
	margin : 70px 0px 0px 20px;
}

/* 하단 바 */
#icon {
	position: absolute;
	width: 18px;
	height: 18px;
	top: 18px;
	right: 20px;
	margin: 0;
}

.footer {
	position: fixed;
	bottom: 0;
	height: 70px;
	width: 500px;
}

.home {
	width: 50px;
	margin: 0px 0px 0px 10px;
}
