html, body {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #ddd;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ddd;
	margin: 0 auto;
	width: 500px;
	height: 100%;
	overflow: hidden;
}

hr {
	border-width: 1px 0px 0px 0px;
	border-style: solid;
	border-color: lightgrey;
	height: 1px;
}
#searcher {
	position: fixed;
	top: 0;
	height: 50px;
	width: 500px;
	background-color: #C4D89D;
}

#arrow {
	float: left;
	width: 25px;
	height: 20px;
	margin: 18px 0px 10px 15px;
}
.title {
	float : right;
	margin : 15px 190px 0px 0px;
	color : white;
}
#icon {
	position: absolute;
	width: 18px;
	height: 18px;
	top: 18px;
	right: 20px;
	margin: 0;
}

#arrow {
	float: left;
	width: 25px;
	height: 20px;
	margin: 18px 0px 10px 15px;
}

.select {
	margin-top : 50px;
}

select img {
	width: 20px;
}

#shape_sel{
	width: 400px;
	padding: 10px 0px 10px 10px;
	border-radius: 5px;
	margin: 30px 0px 0px 45px;
}

#formul_sel, #div_sel, #color_sel {
	width: 400px;
	padding: 10px 0px 10px 10px;
	border-radius: 5px;
	margin: 20px 0px 0px 45px;
}
#shape_sel:hover, #formul_sel:hover, #div_sel:hover {
	border : 2px solid #C4D89D
}
.select option {
	border-radius : 10px;
}

.select input[type=button] {
	text-align : center;
	width : 390px;
	padding : 10px;
	margin : 50px 0px 0px 45px;
	border: 0px;
    border-radius : 20px;
	background-color: #C4D89D;
    color: #fff;
    font-size : 15px;
    font-weight : bolder;
}

#print_sel {
	width: 390px;
	padding: 10px 0px 10px 10px;
	border-radius: 5px;
	margin: 20px 0px 0px 45px;
}


/* 하단바 */
.footer {
	position: fixed;
	bottom: 0;
	height: 70px;
	width: 500px;
}

.home {
	width: 50px;
	margin: 0px 0px 0px 10px;
}